{% if doc.taxes %}
<tr>
	<td class="text-right" colspan="2">
		{{ _("Net Total") }}
	</td>
	<td class="text-right">
		{{ doc.get_formatted("net_total") }}
	</td>
</tr>
{% endif %}

{% for d in doc.taxes %}
{% if d.base_tax_amount > 0 %}
<tr>
	<td class="text-right" colspan="2">
		{{ d.description }}
	</td>
	<td class="text-right">
		{{ d.get_formatted("base_tax_amount") }}
	</td>
</tr>
{% endif %}
{% endfor %}


{% if doc.doctype == 'Quotation' %}
<div class="row tax-grand-total-row">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{
        _("Discount") }} </div>
    <div class="txtdis col-xs-6 text-right">
        {%- for row in frappe.get_list(doctype="Currency",
        fields=["symbol"], filters={ "currency_name":doc.currency}) -%}
            <span>{{ row.symbol }}</span>
        {% endfor %}
        {% set tot_quotation_discount = [] %}
        {%- for item in doc.items -%}
        {% if tot_quotation_discount.append((((item.price_list_rate * item.qty)
            * item.discount_percentage) / 100)) %}{% endif %}
         {% endfor %}
         {{_("{0}").format(tot_quotation_discount | sum)}}
    </div>
</div>
{% endif %}

{% if doc.doctype == 'Sales Order' %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{ _("Total Amount") }}</div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {%- for row in frappe.get_list(doctype="Currency",
            fields=["symbol"], filters={ "currency_name":doc.currency}) -%}
                <span>{{ row.symbol }}</span>
            {% endfor %}
            {% set total_amount = [] %}
            {%- for item in doc.items -%}
            {% if total_amount.append((item.price_list_rate * item.qty)) %}{% endif %}
            {% endfor %}
            {{_("{0}").format(total_amount | sum)}}
        </span>
    </div>
</div>
{% endif %}

{% if doc.doctype == 'Sales Order' %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{ _("Discount") }} </div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {%- for row in frappe.get_list(doctype="Currency",
            fields=["symbol"], filters={ "currency_name":doc.currency}) -%}
                <span>{{ row.symbol }}</span>
            {% endfor %}
            {% set tot_sale_discount = [] %}
            {%- for item in doc.items -%}
            {% if tot_sale_discount.append((((item.price_list_rate * item.qty)
                * item.discount_percentage) / 100)) %}{% endif %}
           
            {% endfor %}
            {{_("{0}").format(tot_sale_discount | sum )}}
        </span>
    </div>
</div>
{% endif %}

{% if doc.doctype == 'Sales Order' %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted" style="margin-bottom:1px";>{{ _("Grand Total") }}</div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {{_("{0}").format(doc.get_formatted("grand_total")) }}
        </span>
    </div>
</div>
{% endif %}
<hr></hr>

{% if doc.doctype == 'Sales Order' %}
{% if doc.coupon_code %}
<div class="row tax-grand-total-row" style="padding-bottom:0px;padding-top:0px;">
    <div class="col-xs-6 text-right text-uppercase h6 text-muted">{{ _("Applied Coupon Code") }} </div>
    <div class="col-xs-6 text-right">
        <span class="tax-grand-total bold">
            {%- for row in frappe.get_list(doctype="Coupon Code",
            fields=["coupon_code"], filters={ "name":doc.coupon_code}) -%}
                <span>{{ row.coupon_code }}</span>
            {% endfor %}
        </span>
    </div>
</div>
{% endif %}
{% endif %}
